<div class="task-row" [class.dense]="dense" [class.done]="task.status === 'done'">
  <div class="status-dot" [style.background]="statusColor(task.status)"></div>
  <div class="task-content">
    <div class="task-title">
      <span class="title-text">{{ task.title }}</span>
      <span *ngIf="task.priority" class="priority">[{{ task.priority }}]</span>
    </div>
    <div class="task-meta">
      <span class="due" [ngClass]="['badge', dueBadge(task)]">{{ dueLabel(task) }}</span>
      <span class="assignees" matTooltip="{{ assignees(task) }}">
        <mat-icon fontSet="material-icons-outlined">group</mat-icon>
        <span>{{ assignees(task) }}</span>
      </span>
      <span class="metric" *ngIf="tagsCount(task) > 0">
        <mat-icon fontSet="material-icons-outlined">sell</mat-icon>
        <span>{{ tagsCount(task) }}</span>
      </span>
      <span class="metric">
        <mat-icon fontSet="material-icons-outlined">forum</mat-icon>
        <span>{{ commentCount(task) }}</span>
      </span>
      <span class="metric">
        <mat-icon fontSet="material-icons-outlined">attach_file</mat-icon>
        <span>{{ attachmentCount(task) }}</span>
      </span>
    </div>
  </div>
  <div class="actions" *ngIf="actionConfig">
    <button mat-icon-button *ngIf="actionConfig.showComplete" (click)="onComplete()" matTooltip="{{ 'schedule.actions.complete' | translate }}">
      <mat-icon fontSet="material-icons-outlined">task_alt</mat-icon>
    </button>
    <button mat-icon-button *ngIf="actionConfig.showShiftTomorrow" (click)="onShift(1)" matTooltip="{{ 'schedule.actions.plusOne' | translate }}">
      <mat-icon fontSet="material-icons-outlined">event</mat-icon>
    </button>
    <button mat-icon-button *ngIf="actionConfig.showSetToday" (click)="onSetToday()" matTooltip="{{ 'schedule.actions.today' | translate }}">
      <mat-icon fontSet="material-icons-outlined">event_available</mat-icon>
    </button>
    <a *ngIf="task.problemId && task.issueId" mat-icon-button [routerLink]="['/board']" [queryParams]="{ pid: task.problemId }" matTooltip="{{ 'schedule.openInBoard' | translate }}">
      <mat-icon fontSet="material-icons-outlined">open_in_new</mat-icon>
    </a>
  </div>
</div>
